{% extends 'apostil/base.html' %}
{% block content %}

<div class="content">

    <div class="all_apostils">
        <table class="table table-striped table-bordered table-sm caption-top">
        <caption><h2>Все-все апостили ({{ all_apostil|length }}) </h2></caption>
        <thead>
                <th>Дата</th>
                <th>Время</th>
                <th>ФИО</th>
                <th>Документов</th>
                <th>Телефон</th>
                <th>Примечание</th>
                <th>Документы</th>
                <th>Не явился</th>
        </thead>
        <tbody>
        {% for apostil in all_apostil %}
            <tr>
    {#            <td>{{ apostil.pk }}</td>#}
                <td>{{ apostil.chunk.date|date:"d.m.Y" }}</td>
                <td>{{ apostil.chunk.time }}</td>
                <td>{{ apostil.fio }}</td>
{#                <td><a href="{% url 'view_apostil' pk=apostil.id %}">{{ apostil.fio }}</a></td>#}
                <td>{{ apostil.count_docs }}</td>
                <td>{{ apostil.phone }}</td>
                <td>{{ apostil.comments }}</td>
                <td>{{ apostil.is_done }}</td>
                <td>{{ apostil.is_gone }}</td>
            </tr>
        {% endfor %}
        </tbody>
        </table>
    </div>

</div>
{% endblock %}